@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
    font-family: 'Lobster';
    font-weight: 500;
    src: url('../fonts/Lobster-Regular.ttf');
}

body{
    background-color: #ffe4c4;
    /* background:#ffffff url(../img/back.png) no-repeat;
    background-size: cover; */

}
p{
    text-align: center;
}
.css-text{
    color: #e99803;
    font-size: 50px;
    background-color: #000000;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}
.web-dev{
    color: #000000;
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-decoration: underline;
    text-transform: uppercase;
    border: 2px dotted #e99803;
    padding: 20px;
    margin: 0px 50px;
}

.web3{
    color: #e99803;
    font-size: 100px;
    text-align: center;
    margin-top: 40px;
    text-shadow: 4px 2px 2px #000000;
}
.journey-text{
    font-size: 40px;
    font-family: 'Lobster',cursive;
    
}
.bg{
    background-image: url(../img/back.png);
    width: 100%;
    height: auto;
}