@charset "utf-8";

@font-face {
  font-family: 'IBMPlexSans Bold';
  src: url('../font/IBMPlexSans-Bold.ttf');
}

@font-face {
  font-family: 'IBMPlexSans Light';
  src: url('../font/IBMPlexSans-Light.ttf');
}

@font-face {
  font-family: 'IBMPlexSans Medium';
  src: url('../font/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBMPlexSans Regular';
  src: url('../font/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexSans Thin';
  src: url('../font/IBMPlexSans-Thin.ttf');
}

@font-face {
  font-family: 'IBMPlexSans SemiBold';
  src: url('../font/IBMPlexSans-SemiBold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-family: 'IBMPlexSans Regular', sans-serif;
  font-size: 16px;
  max-width: 1440px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

a:hover {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 0.8;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.l-inner {
  margin: 0 auto;
  max-width: 1110px;
}

/*.com-ttl{

}*/
.cmn-btn {
  width: 140px;
  padding: 10px;
  background-color: #FF8364;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 4px;
}

.cmn-ttl {
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 40px;
  text-align: center;
}

/*Mainvisual Section*/
.sec-mv {
  padding: 36px 0 20px;
  background: url('../img/img_mv_bg.png')no-repeat center/cover;
}

.sec-mv .header .header-logo {
  float: left;
  width: 35%;
  padding-left: 37px;

}

.sec-mv .header .gnav {
  float: right;
  width: 65%;
  padding-left: 50px;

}

.sec-mv .header .gnav li {
  float: left;
  margin-right: 40px;
  padding: 20px 0px 20px 28px;
  font-family: 'IBMPlexSans SemiBold', sans-serif;
  font-size: 16px;
}

.sec-mv .header .gnav li:last-child {
  margin: 0;
  padding: 10px 0;
}

.sec-mv .header .gnav li .contact-btn {
  padding: 10px 30px;
  background-color: #FF8364;
  color: #fff;
  font-size: 14px;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 36px;
  cursor: pointer;
}

.menu span {
  display: block;
  width: 45px;
  height: 3px;
  margin: 12px auto;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.sec-mv .txt-blk {
  padding-top: 107px;
  padding-bottom: 114px;
  text-align: center;
}

.sec-mv .txt-blk h2 {
  line-height: 80px;
  padding-top: 32px;
  font-family: 'IBMPlexSans SemiBold', sans-serif;
  font-size: 64px;
}

.sec-mv .txt-blk p {
  line-height: 34px;
  color: #fff;
  font-size: 17px;
}

.sec-mv .txt-blk .cmn-btn {
  margin: 25px auto;
  font-size: 18px;
}

.sec-second {
  padding: 110px 0 101px 0;
  background-color: #F3F3F3;
}

.sec-second .cmn-ttl {
  text-align: left;
}

.sec-second p {
  float: left;
  width: 55%;
  line-height: 50px;
  margin-top: 30px;
  font-family: 'IBMPlexSans Thin', sans-serif;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1;
  word-spacing: 3px;
}

.sec-second .img-blk {

  float: right;

}

.sec-second .learn-more {
  display: inline-block;
  position: relative;
  padding: 11px 30px 0px 0px;
  color: #FF8364;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;

}

.sec-second .learn-more::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  background: url('../img/img_arrow_right.png') no-repeat;

  content: "";
}

/*Third Section*/
.sec-third {
  padding: 88px 0 25px;
}

.sec-third p {
  line-height: 1;
  padding: 10px 0 70px;
  color: #FF8364;
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sec-third .third-list {
  margin-top: 5px;
  margin-left: 81px;
}

.sec-third .third-list li {
  position: relative;
  float: left;
  width: 42%;
  line-height: 26px;
  margin-right: 74px;
  margin-bottom: 45px;
  padding-left: 65px;
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.sec-third .third-list li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('../img/img_star.png')no-repeat center/contain;
  content: "";
}

/*Section Fourth*/
.sec-fourth {
  padding: 42px 0;
}

.sec-fourth .fourth-list li {
  float: left;
  margin-top: 50px;
  margin-right: 30px;
  padding-bottom: 40px;
  background-color: #F3F3F3;
}

.sec-fourth .fourth-list li:last-child {
  margin-right: 0;
}

.sec-fourth .fourth-list li .p-type {
  margin-top: 25px;
  padding-top: 10px;
  font-family: 'IBMPlexSans Thin', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.sec-fourth .fourth-list li .pic-name {
  margin-top: 3px;
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 16px;
  text-align: center;
}

/*Section Fifth*/
.sec-fifth {
  padding: 117px 0 27px;
  background-color: #FCFCFC;
}

.sec-fifth .cmn-ttl {
  margin-bottom: 54px;
}

.sec-fifth .fifth-list li {
  float: left;
  width: 31%;
  margin-right: 38px;
  text-align: center;
}

.sec-fifth .fifth-list li:last-child {
  margin-right: 0;
}

.sec-fifth .fifth-list li img {
  margin-bottom: 23px;
}

.sec-fifth .fifth-list li p {
  line-height: 1.6;
  margin-bottom: 52px;
  color: #616161;
  font-family: 'IBMPlexSans Light', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.sec-fifth .fifth-list li .user-name {
  position: relative;
  padding-top: 16px;
  font-size: 20px;
}

.sec-fifth .fifth-list li .user-name::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 65px;
  height: 4px;
  margin: 0 auto;
  background-color: #FF8364;
  content: "";
}

.sec-fifth .fifth-list li .user-name p {
  color: #616161;
  font-family: 'IBMPlexSans Light', sans-serif;
  font-size: 14px;
}

/*Section Feedback*/
.sec-feedback {
  padding-top: 100px;
}

.sec-feedback .feedback-blk .map {
  position: relative;
  float: left;
  margin-right: 65px;
}

.sec-feedback .feedback-blk .map .iframe-ipad,
.sec-feedback .feedback-blk .map .iframe-sp {
  display: none;
}

.sec-feedback .feedback-blk .map .info {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 20px 30px;
  padding: 35px 29px 2px;
  background-color: #fff;
}

.sec-feedback .feedback-blk .map .info .left-info {
  float: left;
  width: 50%;
  margin-right: 20px;

}

.sec-feedback .feedback-blk .map .info span {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.sec-feedback .feedback-blk .map .info .left-info p {
  margin-top: 3px;
  font-size: 16px;

}

.sec-feedback .feedback-blk .map .info .right-info {

  margin-left: 20px;
}

.sec-feedback .feedback-blk .map .info .right-info a {
  margin-bottom: 20px;
  color: #FF8364;
  font-size: 16px;
}

.sec-feedback .feedback-blk h3 {
  padding: 14px 0;
  font-size: 36px;

}

.sec-feedback .feedback-blk p {
  margin-bottom: 42px;
  color: #616161;
  font-family: 'IBMPlexSans Light', sans-serif;
  font-size: 14px;
}

.sec-feedback .feedback-blk .input-box {
  width: 28%;
  margin-bottom: 30px;
  padding: 11px 20px;
  border: none;
  background-color: #F3F3F3;
  color: #616161;
  border-radius: 5px;
}

.sec-feedback .feedback-blk button {
  border: none;
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 18px;

}

/*Footer Section*/
.footer {
  margin-top: 208px;


}

.footer .left-footer {
  float: left;
  width: 34%;
}

.footer .left-footer p {
  margin-top: 42px;
  font-family: 'IBMPlexSans Light', sans-serif;
  font-size: 12px;
}

.footer .right-footer {
  margin-top: 10px;
}

.footer .right-footer ul {
  float: left;
  margin-right: 115px;
}

.footer .right-footer ul:last-child {
  margin-right: 0;
}

.footer .right-footer li {
  margin-bottom: 17px;
  color: #616161;
  font-size: 16px;

}

.footer .right-footer li:first-child {
  font-family: 'IBMPlexSans Bold', sans-serif;
  font-size: 18px;
}

/*  Ipad  */
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .sec-mv {
    padding-bottom: 0;
  }

  .sec-mv .menu {
    display: block;
  }

  .menu.active span:nth-child(2) {
    opacity: 0;
  }

  .menu.active span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .menu.active span:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  .sec-mv ul {
    display: none;
    position: absolute;
    top: 7.813vw;
    right: -300%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
  }

  .sec-mv .header .gnav ul {
    padding-top: 82px;
  }

  .sec-mv .header .gnav li {
    width: 90%;


  }

  .sec-mv .gnav ul .contact-btn {
    width: 13.021vw;
    margin: 0 auto;
    text-align: center;
  }

  .sec-mv .gnav ul li a {
    display: block;
  }

  .sec-mv .gnav ul.active {
    display: block;
    top: 0;

    right: 0;
  }

  .sec-mv .txt-blk {
    padding-bottom: 11.979vw;
  }

  .sec-second {
    padding: 11.068vw 5.469vw 0;
  }

  .sec-second p {
    width: 100%;
  }

  .sec-second .img-blk {
    padding: 15.625vw 8.203vw 20.703vw;
    max-width: 100%;
    size: 13.021vw;

  }

  .sec-second .learn-more {
    display: none;
  }

  .sec-third {
    padding: 11.458vw 0 0;
  }

  .sec-third p {
    padding: 1.302vw 0 8.333vw;
  }

  .sec-third .third-list {
    margin-top: 0;
    margin-left: 5.208vw;
  }

  .sec-third .third-list li {
    width: 100%;
  }

  .sec-fourth {
    margin-top: 12.24vw;
    padding: 0;

  }

  .sec-fourth .fourth-list {
    padding-bottom: 0;
    padding-left: 14.323vw;
  }

  .sec-fourth .fourth-list li {
    margin-top: 4.818vw;
    margin-right: 4.948vw;
  }

  .sec-fifth {
    margin: 0 auto;
    padding: 20.964vw 0vw 3.516vw;
  }

  .sec-fifth .cmn-ttl {
    margin-bottom: 4.818vw;
  }

  .sec-fifth .fifth-list li {

    width: 50%;
    margin-right: 0;
  }

  .sec-fifth .fifth-list li:last-child {
    margin-right: 3.906vw;
  }

  .sec-fifth .fifth-list li p {
    margin-bottom: 6.51vw;
  }

  .sec-feedback {
    padding-top: 12.547vw;
    padding-left: 4.557vw;
  }

  .sec-feedback .feedback-blk .map {
    width: 49%;
    margin-right: 1.172vw;
  }

  .sec-feedback .feedback-blk .map .iframe-pc {
    display: none;
  }

  .sec-feedback .feedback-blk .map .iframe-ipad {
    display: block;
  }

  .sec-feedback .feedback-blk .map .info {
    width: 83%;
  }

  .sec-feedback .feedback-blk .map .info {
    margin-bottom: 4.427vw;
  }


  .sec-feedback .feedback-blk .map .info .left-info {
    width: 100%;
  }

  .sec-feedback .feedback-blk .map .info .right-info {
    margin-left: 0;
  }

  .sec-feedback .feedback-blk .feedback form {
    margin-top: 7.813vw;
  }

  .sec-feedback .feedback-blk .input-box {
    width: 43%;
  }

  .sec-feedback .feedback-blk .feedback button {
    display: block;
  }

  .footer {
    margin-top: 16.349vw;
    margin-left: 5.208vw;
  }

  .footer .left-footer {
    width: 47%;
  }

  .footer .right-footer {
    float: right;
    width: 53%;
  }

  .footer .right-footer ul {
    float: left;
    margin-right: 14.193vw;
    margin-bottom: 2.604vw;
  }
}

/*  SP  */
@media screen and (max-width:767.9px) {
  .sec-mv {
    padding-bottom: 0;
  }

  .sec-mv .menu {
    display: block;
  }

  .menu.active span:nth-child(2) {
    opacity: 0;
  }

  .menu.active span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .menu.active span:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  .sec-mv ul {
    display: none;
    position: absolute;
    top: 7.813vw;
    right: -300%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
  }

  .sec-mv .header .gnav ul {
    padding-top: 10.677vw;
  }

  .sec-mv .header .gnav li {
    width: 90%;


  }

  .sec-mv .gnav ul .contact-btn {
    width: 13.021vw;
    margin: 0 auto;
    text-align: center;
  }

  .sec-mv .gnav ul li a {
    display: block;
  }

  .sec-mv .gnav ul.active {
    display: block;
    top: 0;

    right: 0;
  }

  .sec-mv .txt-blk {
    padding-top: 15.109vw;
    padding-bottom: 2.75rem;
  }

  .sec-mv .txt-blk h2 {
    line-height: 9.333vw;
    padding-top: 2.344vw;
    font-size: 7.859vw;
  }

  .sec-mv .txt-blk p {
    padding-top: 1.953vw;
  }

  .sec-second {
    padding: 7.068vw 4.469vw 0;
  }

  .sec-second p {
    width: 100%;
  }

  .sec-second .img-blk {
    padding: 15.625vw 8.203vw 20.703vw;
    max-width: 100%;
    size: 13.021vw;

  }

  .sec-second .learn-more {
    display: none;
  }

  .sec-third {
    padding: 72.637px 0vw 0vw;
  }

  .sec-third p {
    padding: 4.302vw 0 8.333vw;
  }

  .sec-third .third-list {
    margin-top: 0;
    margin-left: 5.208vw;
  }

  .sec-third .third-list li {
    width: 100%;
  }

  .sec-fourth {
    margin-top: 6.24vw;
    padding: 0;
  }

  .sec-fourth .fourth-list {
    padding-bottom: 0;
    padding-left: 7.323vw;
  }

  .sec-fourth .fourth-list li {
    margin-top: 5.818vw;
    margin-right: 5.948vw;
  }

  .sec-fifth {
    margin: 0 auto;
    padding: 18.964vw 0vw 3.516vw;
  }

  .sec-fifth .cmn-ttl {
    margin-bottom: 4.818vw;
  }

  .sec-fifth .fifth-list li {

    width: 100%;


  }

  .sec-fifth .fifth-list li:last-child {
    margin-right: 3.906vw;
  }

  .sec-fifth .fifth-list li p {
    margin-bottom: 6.51vw;
  }

  .sec-feedback {
    padding-top: 4.547vw;
    padding-left: 4.557vw;
  }

  .sec-feedback .feedback-blk .map {
    width: 49%;
    margin-right: 1.172vw;
  }

  .sec-feedback .feedback-blk .map .iframe-pc {
    display: none;
  }

  .sec-feedback .feedback-blk .map .iframe-sp {
    display: block;
  }

  .sec-feedback .feedback-blk .map .info {
    width: 175%;
  }

  .sec-feedback .feedback-blk .sec-feedback .feedback-blk .feedback form {
    margin-top: 7.813vw;
  }

  .sec-feedback .feedback-blk h3 {
    margin-top: 1.693vw;
  }

  .sec-feedback .feedback-blk .input-box {
    width: 52%;
  }

  .sec-feedback .feedback-blk .feedback {
    float: left;
    width: 100%;
  }

  .sec-feedback .feedback-blk .feedback button {
    display: block;
  }

  .footer {
    margin-top: 16.349vw;
    margin-left: 5.208vw;
  }

  .footer .left-footer {
    width: 47%;
  }

  .footer .right-footer {
    float: right;
    width: 53%;
  }

  .footer .right-footer ul {
    float: left;
    margin-right: 11.193vw;
    margin-bottom: 4.604vw;
  }
}