@charset "utf-8";

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  src: url('../font/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url('../font/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  src: url('../font/IBMPlexSans-Bold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

a {
  display: inline-block;
  color: #141414;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

}

a:hover {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 0.8;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.l-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1360px;
}

.l-inner {
  width: 98%;
  margin: 0 auto;
  max-width: 1110px;
}

/* Common Button */
.cmn-btn {
  width: 140px;
  padding: 8px 5px;
  border: 1px solid transparent;
  background-color: #FF8364;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.cmn-btn:hover {
  border: 1px solid #FF8364;
  background-color: #FFFFFF;
  color: #FF8364;
}

.cmn-ttl {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/*Mainvisual Section*/
.sec-mv {
  padding: 36px 0 157px;
  background: url('../img/img_mv_bg.png')no-repeat center/cover;
}

.sec-mv header .header-logo {
  float: left;

}

.sec-mv header .gnav {
  float: right;
}

.sec-mv header .gnav ul {
  float: left;
}

.sec-mv header .gnav ul li {
  float: left;
  margin: 21px 61px 8px 0;
  letter-spacing: -0.1px;
}

.sec-mv header .gnav li a {
  font-weight: 700;
}

.sec-mv header .cmn-btn {
  float: left;
  width: 120px;
  margin-top: 13px;
  font-size: 14px;
}

.sec-mv header .menu {
  display: none;
}

.sec-mv .mv-blk {
  padding-top: 108px;
  text-align: center;
}

.sec-mv .mv-blk .mv-ttl {
  line-height: 1.2;
  padding-top: 36px;
  font-size: 64px;
  font-weight: 500;
}

.sec-mv .mv-blk .mv-txt {
  line-height: 1.5;
  padding: 6px 0 28px;
  color: #EFEFEF;
  font-size: 20px;
}


.sec-mv .txt-blk .cmn-btn {
  margin: 0 auto;
  padding: 10px 5px;
}

/*Second Section*/
.sec-second {
  padding: 113px 0 98px;
  background-color: #F3F3F3;
}

.sec-second .txt-blk {
  float: left;
  width: 635px;
}

.sec-second .txt-blk .cmn-ttl {
  text-align: left;
}

.sec-second .txt-blk p {
  line-height: 1.4;
  padding: 34px 0 31px;
  font-size: 36px;
}

.sec-second .img-blk {
  float: right;
  width: 418px;
  margin: 27px 0;

}

.sec-second .learn-more {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  color: #FF8364;
  font-weight: 700;
  letter-spacing: 0.4px;

}

.sec-second .learn-more::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  background: url('../img/img_arrow_right.png') no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
}

/*Third Section*/
.sec-third {
  padding: 90px 0 49px;
  border-bottom: 1px solid #D9D9D9;
}

.sec-third .cmn-ttl span {
  display: block;
  padding-top: 11px;
  color: #FF8364;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sec-third ul {
  padding: 74px 40px 20px 78px;
}


.sec-third ul li {
  position: relative;
  float: left;
  width: 46%;
  line-height: 1.3;
  margin-right: 74px;
  margin-bottom: 35px;
  padding-left: 65px;
  font-size: 20px;
  font-weight: 700;
}

.sec-third ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('../img/img_star.png')no-repeat center/contain;
  content: "";
}

.sec-third ul li:nth-child(2n) {
  margin-right: 0;
}

/*Fourth Section*/
.sec-fourth {
  padding: 87px 0 82px;
}

.sec-fourth .fourth-list {
  padding-top: 47px;
}

.sec-fourth .fourth-list li {
  float: left;
  width: 22.9%;
  margin-right: 2.8%;
  background-color: #F3F3F3;
  border-radius: 8px;
}

.sec-fourth .fourth-list li:nth-child(4n) {
  margin-right: 0;
}

.sec-fourth .fourth-list li div {
  padding: 39px 0 31px;
  text-align: center;
}

.sec-fourth .fourth-list li p {
  padding-bottom: 7px;
  color: #616161;
  font-size: 12px;
  text-transform: uppercase;
}

/*Fifth Section*/
.sec-fifth {
  padding: 85px 0 80px;
  background-color: #FCFCFC;
}

.sec-fifth .fifth-list {
  padding-top: 56px;
}

.sec-fifth .fifth-list li {
  float: left;
  width: 31.4%;
  margin-right: 30px;
  text-align: center;
}

.sec-fifth .fifth-list li:nth-child(3n) {
  margin-right: 0;
}

.sec-fifth .fifth-list li p {
  line-height: 1.68;
  padding: 22px 0 46px;
  color: #616161;
  font-size: 18px;
}

.sec-fifth .fifth-list li .user-name {
  position: relative;
  padding-top: 16px;
  font-size: 20px;
}

.sec-fifth .fifth-list li .user-name::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 65px;
  height: 4px;
  margin: 0 auto;
  background-color: #FF8364;
  content: '';
}

.sec-fifth .fifth-list li .user-name span {
  display: block;
  padding-top: 8px;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

/*Section Feedback*/
.sec-feedback {
  padding: 102px 0 96px;
  border-bottom: 1px solid #D9D9D9;
}

.sec-feedback .map-blk {
  position: relative;
  float: left;
  width: 605px;
}

.sec-feedback .map-blk iframe {
  width: 100%;
  height: 490px;
  border: 0;
  border-radius: 8px;
}

.sec-feedback .map-blk .contact-blk {
  position: absolute;
  right: 0;
  bottom: 34px;
  left: 0;
  width: 545px;
  margin: 0 auto;
  padding: 32px 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.sec-feedback .map-blk .contact-blk ul {
  float: left;
  width: 225px;
  margin-right: 35px;
}

.sec-feedback .map-blk .contact-blk ul:nth-child(2n) {
  margin-right: 0;
}

.sec-feedback .map-blk .contact-blk ul li {
  margin-bottom: 24px;
}

.sec-feedback .map-blk .contact-blk ul li:last-child {
  margin-bottom: 0;
}

.sec-feedback .map-blk .contact-blk .contact-ttl {
  padding-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.sec-feedback .map-blk .contact-blk p {
  line-height: 1.5;
  color: #616161;
}

.sec-feedback .map-blk .contact-blk .mail {
  color: #FF8364;
}

.sec-feedback .map-blk .contact-blk .phone {
  color: #616161;
  cursor: none;
  pointer-events: none;
}

.sec-feedback .form-blk {
  float: right;
  width: 445px;
  padding: 14px 0;
}

.sec-feedback .form-blk .cmn-ttl {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}

.sec-feedback .form-blk p {
  line-height: 1.5;
  padding: 5px 0 32px;
  color: #616161;
}

.sec-feedback .form-blk form {
  width: 313px;
}

.sec-feedback .form-blk .cmn-input {
  width: 100%;
  margin-bottom: 33px;
  padding: 9px 20px;
  border: none;
  background-color: #F3F3F3;
  color: #616161;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 1.3px;
  outline: none;
  border-radius: 8px;
}

.sec-feedback .form-blk .cmn-input:nth-child(3) {
  margin-bottom: 28px;
}

.sec-feedback .form-blk .cmn-btn {
  padding: 12px 5px;
  border: none;
}

.sec-feedback .form-blk .cmn-btn:hover {
  border: 1px solid #FF8364;
}

/*Footer Section*/
.footer {
  padding: 71px 0;
}

.footer .logo-blk {
  float: left;
  width: 233px;
}

.footer .logo-blk p {
  line-height: 1.5;
  padding-top: 30px;
  color: #616161;
  font-size: 12px;
}

.footer .footer-nav-blk {
  float: right;
  margin: 7px 0;
}

.footer .footer-nav {
  float: left;
  width: 160px;
  margin-right: 30px;
}

.footer .footer-nav:last-child {
  margin-right: 0;
}

.footer .footer-nav .footer-ttl {
  padding-bottom: 12px;
  font-size: 20px;
}

.footer .footer-nav li {
  margin-bottom: 18px;
  color: #616161;
}


/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1100px) {

  body {
    font-size: 2.083vw;
  }

  .l-container,
  .l-inner {
    width: 100%;
    padding: 0 5.208vw;
    max-width: 100%;
  }

  /* Common Button */
  .cmn-btn {
    width: 18.229vw;
    padding: 1.042vw 0.651vw;
    border: 0.13vw solid transparent;
    font-size: 2.344vw;
    border-radius: 0.521vw;
  }

  .cmn-btn:hover {
    border: 0.13vw solid #FF8364;
  }

  /* Common Title */
  .cmn-ttl {
    font-size: 5.208vw;
  }

  /* Mainvisual Section */
  .sec-mv {
    padding: 4.588vw 0 15.143vw;
  }

  .sec-mv header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .sec-mv header .gnav {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100%;
    padding: 13.542vw 0 4.688vw;
    background-color: rgba(255, 255, 255, .9);
    transition: all .5s ease;
  }

  .sec-mv header .gnav.is-show {
    right: 0;
  }

  .sec-mv header .gnav ul {
    float: none;
  }

  .sec-mv header .gnav ul li {
    float: none;
    width: 100%;
    margin: 0 0 3.646vw 0;
    text-align: center;
    letter-spacing: 0.091vw;
  }

  .sec-mv header .cmn-btn {
    display: block;
    float: none;
    width: 15.625vw;
    margin: 0 auto;
    margin-top: 1.693vw;
    font-size: 1.823vw;
  }

  .sec-mv header .menu,
  .sec-mv header .menu span {
    display: inline-block;
    transition: all .4s;
  }

  .sec-mv header .menu {
    position: fixed;
    top: 5.208vw;
    right: 5.448vw;
    width: 5.729vw;
    height: 4.297vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }

  .sec-mv header .menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.391vw;
    background-color: #141414;
    border-radius: 0.521vw;
  }

  .sec-mv header .menu span:nth-of-type(1) {
    top: 0;
  }

  .sec-mv header .menu span:nth-of-type(2) {
    top: 1.953vw;
  }

  .sec-mv header .menu span:nth-of-type(3) {
    bottom: 0;
  }

  .sec-mv header .menu.active span:nth-of-type(1) {
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .sec-mv header .menu.active span:nth-of-type(2) {
    opacity: 0;
  }

  .sec-mv header .menu.active span:nth-of-type(3) {
    transform: translateY(-1.953vw) rotate(45deg);
  }

  .sec-mv .mv-blk {
    padding-top: 21.563vw;
  }

  .sec-mv .mv-blk .mv-ttl {
    padding-top: 4.688vw;
    font-size: 8.333vw;
  }

  .sec-mv .mv-blk .mv-txt {
    padding: 0.781vw 0 3.646vw;
    font-size: 2.604vw;
  }

  .sec-mv .mv-blk .cmn-btn {
    padding: 1.302vw 0.651vw;
  }

  /* Second Section */
  .sec-second {
    padding: 11.083vw 0 1.2vw;
  }

  .sec-second .txt-blk {
    float: none;
    width: 100%;
  }

  .sec-second .txt-blk p {
    padding: 4.427vw 0 3.767vw;
    font-size: 4.688vw;
  }

  .sec-second .img-blk {
    float: none;
    width: 72.4vw;
    margin: 9.316vw auto;
  }

  .sec-second .img-blk img {
    width: 100%;
  }

  .sec-second .learn-more {
    padding-right: 3.906vw;
    letter-spacing: 0.052vw;
  }

  .sec-second .learn-more::after {
    width: 1.823vw;
    height: 1.823vw;
  }

  /* Third Section */
  .sec-third {
    padding: 11.198vw 0 1.31vw;
    border-bottom: 0.13vw solid #D9D9D9;
  }

  .sec-third .cmn-ttl span {
    padding-top: 1.502vw;
    font-size: 3.255vw;
    letter-spacing: 0.13vw;
  }

  .sec-third ul {
    padding: 7.135vw 0 2.604vw;
  }

  .sec-third ul li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 4.957vw;
    padding-top: 1vw;
    padding-left: 8.464vw;
    font-size: 2.604vw;
  }

  .sec-third ul li::before {
    width: 5.208vw;
    height: 5.208vw;
  }

  /* Fourth Section */
  .sec-fourth {
    padding: 11.198vw 0 0.817vw;
  }

  .sec-fourth .fourth-list {
    padding: 4.75vw 6vw 4.75vw 9vw;
  }

  .sec-fourth .fourth-list li {
    width: 33.2vw;
    margin-right: 5.2vw;
    margin-bottom: 5.2vw;
    border-radius: 1.042vw;
  }

  .sec-fourth .fourth-list li img {
    width: 100%;
  }

  .sec-fourth .fourth-list li:nth-child(2n) {
    margin-right: 0;
  }

  .sec-fourth .fourth-list li div {
    padding: 4.818vw 0 4.167vw;
  }

  .sec-fourth .fourth-list li p {
    padding-bottom: 0.911vw;
    font-size: 1.563vw;
  }

  /* Fifth Section */
  .sec-fifth {
    padding: 11.198vw 0 4.017vw;
  }

  .sec-fifth .fifth-list {
    padding-top: 4.692vw;
  }

  .sec-fifth .fifth-list li {
    width: 42.1vw;
    margin-right: 3.2vw;
    margin-bottom: 6.8vw;
  }

  .sec-fifth .fifth-list li:nth-child(3n) {
    margin-right: 5.3vw;
  }

  .sec-fifth .fifth-list li:nth-child(2n) {
    margin-right: 0;
  }

  .sec-fifth .fifth-list li p {
    line-height: 1.68;
    padding: 2.665vw 0 5.79vw;
    font-size: 2.344vw;
  }

  .sec-fifth .fifth-list li .user-name {
    padding-top: 2.083vw;
    font-size: 2.604vw;
  }

  .sec-fifth .fifth-list li .user-name::before {
    width: 8.464vw;
    height: 0.521vw;
  }

  .sec-fifth .fifth-list li .user-name span {
    padding-top: 1.042vw;
    font-size: 2.083vw;
    letter-spacing: -0.052vw;
  }

  /* Feedback Section */
  .sec-feedback {
    padding: 10.281vw 0 10.36vw;
    border-bottom: 0.13vw solid #D9D9D9;
  }

  .sec-feedback .map-blk {
    width: 44.776vw;
  }

  .sec-feedback .map-blk iframe {
    height: 63.702vw;
    border-radius: 1.042vw;
  }

  .sec-feedback .map-blk .contact-blk {
    bottom: 2.827vw;
    width: 39.764vw;
    padding: 1.867vw 2.606vw;
    border-radius: 1.042vw;
  }

  .sec-feedback .map-blk .contact-blk ul {
    width: 100%;
    margin-right: 0;
  }

  .sec-feedback .map-blk .contact-blk ul:nth-child(2n) {
    margin-top: 2.6vw;
  }

  .sec-feedback .map-blk .contact-blk ul li {
    margin-bottom: 2.525vw;
  }

  .sec-feedback .map-blk .contact-blk ul li:last-child {
    margin-bottom: 0;
  }

  .sec-feedback .map-blk .contact-blk .contact-ttl {
    padding-bottom: 0.521vw;
    font-size: 1.563vw;
  }

  .sec-feedback .map-blk .contact-blk p {
    line-height: 1.5;
  }

  .sec-feedback .map-blk .contact-blk .phone {
    cursor: pointer;
    pointer-events: auto;
  }

  .sec-feedback .form-blk {
    width: 42.143vw;
    padding: 3.423vw 0;
  }

  .sec-feedback .form-blk .cmn-ttl {
    font-size: 4.688vw;
  }

  .sec-feedback .form-blk p {
    line-height: 1.5;
    padding: 0.651vw 0 3.667vw;
  }

  .sec-feedback .form-blk form {
    width: 40.755vw;
  }

  .sec-feedback .form-blk .cmn-input {
    margin-bottom: 4.297vw;
    padding: 1.172vw 2.604vw;
    letter-spacing: 0.169vw;
    border-radius: 1.042vw;
  }

  .sec-feedback .form-blk .cmn-input:nth-child(3) {
    margin-bottom: 3.646vw;
  }

  .sec-feedback .form-blk .cmn-btn {
    padding: 1.563vw 0.651vw;
  }

  /* Footer Section */
  .footer {
    padding: 9.115vw 0;
  }

  .footer .logo-blk {
    width: 30.339vw;
  }

  .footer .logo-blk p {
    line-height: 1.5;
    padding-top: 3.906vw;
    font-size: 1.563vw;
  }

  .footer .footer-nav-blk {
    width: 44.9vw;
    margin: 0.911vw 0;
  }

  .footer .footer-nav {
    width: 15vw;
    margin-right: 9.806vw;
    margin-bottom: 3vw;
  }

  .footer .footer-nav:nth-child(2n) {
    margin-right: 0;
  }

  .footer .footer-nav .footer-ttl {
    padding-bottom: 1.563vw;
    font-size: 2.604vw;
  }

  .footer .footer-nav li {
    margin-bottom: 2.344vw;
  }

}

/*  SP  */
@media screen and (max-width:767.9px) {

  body {
    font-size: 2.813vw;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .l-container,
  .l-inner {
    width: 100%;
    padding: 0 4.688vw;
    max-width: 100%;
  }

  /* Common Button */
  .cmn-btn {
    width: 21.875vw;
    padding: 1.25vw 0.781vw;
    border: 0.156vw solid transparent;
    font-size: 2.813vw;
    border-radius: 0.625vw;
  }

  .cmn-btn:hover {
    border: 0.156vw solid #FF8364;
  }

  /* Common Title */
  .cmn-ttl {
    font-size: 6.25vw;
  }

  /* Mainvisual Section */
  .sec-mv {
    padding: 5.625vw 0 13.906vw;
  }

  .sec-mv header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .sec-mv header .header-logo img {
    max-width: 32.656vw;
  }

  .sec-mv header .gnav {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100%;
    padding: 16.242vw 0 4.888vw;
    background-color: rgba(255, 255, 255, .9);
    transition: all .5s ease;
  }

  .sec-mv header .gnav.is-show {
    right: 0;
  }

  .sec-mv header .gnav ul {
    float: none;
  }

  .sec-mv header .gnav ul li {
    float: none;
    width: 100%;
    margin: 0 0 4.846vw 0;
    font-size: 2.188vw;
    text-align: center;
    letter-spacing: 0.091vw;
  }

  .sec-mv header .cmn-btn {
    display: block;
    float: none;
    width: 18.75vw;
    margin: 0 auto;
    margin-top: 2.032vw;
    font-size: 2.188vw;
  }

  .sec-mv header .menu,
  .sec-mv header .menu span {
    display: inline-block;
    transition: all .4s;
  }

  .sec-mv header .menu {
    position: fixed;
    top: 6.208vw;
    right: 4.048vw;
    width: 6.729vw;
    height: 4.997vw;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }

  .sec-mv header .menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.391vw;
    background-color: #141414;
    border-radius: 0.521vw;
  }

  .sec-mv header .menu span:nth-of-type(1) {
    top: 0;
  }

  .sec-mv header .menu span:nth-of-type(2) {
    top: 2.453vw;
  }

  .sec-mv header .menu span:nth-of-type(3) {
    bottom: 0;
  }

  .sec-mv header .menu-toggle.active span:nth-of-type(1) {
    transform: translateY(2.253vw) rotate(-45deg);
  }

  .sec-mv header .menu-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .sec-mv header .menu-toggle.active span:nth-of-type(3) {
    transform: translateY(-2.453vw) rotate(45deg);
  }

  .sec-mv .mv-blk {
    padding-top: 22.656vw;
  }

  .sec-mv .mv-blk img {
    max-width: 9.063vw;
  }

  .sec-mv .mv-blk .mv-ttl {
    line-height: 1.3;
    padding-top: 3.125vw;
    font-size: 7.031vw;
  }

  .sec-mv .mv-blk .mv-txt {
    line-height: 1.6;
    padding: 2.813vw 0 2.969vw;
    font-size: 2.813vw;
  }

  .sec-mv .mv-blk .cmn-btn {
    padding: 1.563vw 0.781vw;
  }

  /* Second Section */
  .sec-second {
    padding: 6.563vw 0 9.375vw;
  }

  .sec-second .txt-blk {
    float: none;
    width: 100%;
  }

  .sec-second .txt-blk p {
    line-height: 2;
    padding: 4.063vw 0 1.875vw;
    font-size: 3.906vw;
  }

  .sec-second .img-blk {
    float: none;
    width: 100%;
    margin: 8.438vw 0 0;
  }

  .sec-second .img-blk img {
    margin: 0 auto;
    max-width: 86.875vw;
  }

  .sec-second .learn-more {
    padding-right: 4.688vw;
    letter-spacing: -0.109vw;
  }

  .sec-second .learn-more::after {
    width: 2.188vw;
    height: 2.188vw;
  }

  /* Third Section */
  .sec-third {
    padding: 10.469vw 0 0.513vw;
    border-bottom: 0.156vw solid #D9D9D9;
  }

  .sec-third .cmn-ttl span {
    padding-top: 3.125vw;
    font-size: 3.906vw;
    letter-spacing: 0.156vw;
  }

  .sec-third ul {
    padding: 8.438vw 0 0.625vw 0;
  }

  .sec-third ul li {
    float: none;
    width: 100%;
    line-height: 2.2;
    margin-right: 0;
    margin-bottom: 4.844vw;
    padding-left: 10.156vw;
    font-size: 2.813vw;
  }

  .sec-third ul li::before {
    width: 6.25vw;
    height: 6.25vw;
  }

  .sec-third ul li:nth-child(2n) {
    margin-right: 0;
  }

  /* Fourth Section */
  .sec-fourth {
    padding: 11.469vw 0 4.688vw;
  }

  .sec-fourth .fourth-list {
    padding: 5.625vw 1.563vw 3.125vw 2.344vw;
    padding-top: 5.625vw;
  }

  .sec-fourth .fourth-list li {
    width: 46%;
    margin-right: 6.25vw;
    margin-bottom: 6.25vw;
    border-radius: 1.25vw;
  }

  .sec-fourth .fourth-list li:nth-child(2n),
  .sec-fourth .fourth-list li:nth-child(4n) {
    margin-right: 0;
  }

  .sec-fourth .fourth-list li img {
    width: 100%;
    object-fit: cover;
  }

  .sec-fourth .fourth-list li div {
    padding: 5.738vw 0 5vw;
  }

  .sec-fourth .fourth-list li h3 {
    font-size: 2.5vw;
  }

  .sec-fourth .fourth-list li p {
    padding-bottom: 0.938vw;
    font-size: 1.875vw;
  }

  /* Fifth Section */
  .sec-fifth {
    padding: 6.138vw 0 3.125vw;
  }

  .sec-fifth .fifth-list {
    padding-top: 5.625vw;
  }

  .sec-fifth .fifth-list li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 9.375vw;
  }

  .sec-fifth .fifth-list li img {
    max-width: 12.5vw;
  }

  .sec-fifth .fifth-list li:nth-child(3n) {
    margin-right: 0;
  }

  .sec-fifth .fifth-list li p {
    padding: 3.438vw 0 5.625vw;
    font-size: 2.813vw;
  }

  .sec-fifth .fifth-list li .user-name {
    padding-top: 2.5vw;
    font-size: 3.125vw;
  }

  .sec-fifth .fifth-list li .user-name::before {
    width: 10.156vw;
    height: 0.625vw;
  }

  .sec-fifth .fifth-list li .user-name span {
    padding-top: 1.25vw;
    font-size: 2.5vw;
    letter-spacing: -0.063vw;
  }

  /* Feedback Section */
  .sec-feedback {
    padding: 6.25vw 0 6.988vw;
    border-bottom: 0.156vw solid #D9D9D9;
  }

  .sec-feedback .map-blk {
    float: none;
    width: 89.063vw;
    margin: 0 auto;
  }

  .sec-feedback .map-blk iframe {
    height: 53.594vw;
    border-radius: 1.25vw;
  }

  .sec-feedback .map-blk .contact-blk {
    bottom: 2.5vw;
    width: 82.031vw;
    padding: 3.438vw 2.5vw 3.438vw 3.594vw;
    border-radius: 1.25vw;
  }

  .sec-feedback .map-blk .contact-blk ul {
    width: 34.688vw;
    margin-right: 6.25vw;
  }

  .sec-feedback .map-blk .contact-blk ul:nth-child(2n) {
    margin-right: 0;
  }

  .sec-feedback .map-blk .contact-blk ul li {
    margin-bottom: 2.344vw;
  }

  .sec-feedback .map-blk .contact-blk ul li:last-child {
    margin-bottom: 0;
  }

  .sec-feedback .map-blk .contact-blk .contact-ttl {
    padding-bottom: 0.625vw;
    font-size: 1.875vw;
  }

  .sec-feedback .map-blk .contact-blk p {
    font-size: 2.5vw;
  }

  .sec-feedback .map-blk .contact-blk .phone {
    cursor: pointer;
    pointer-events: auto;
  }

  .sec-feedback .form-blk {
    float: none;
    width: 100%;
    padding: 6.313vw 0;
  }

  .sec-feedback .form-blk .cmn-ttl {
    font-size: 5.625vw;
  }

  .sec-feedback .form-blk p {
    padding: 0.781vw 0 4.375vw;
    font-size: 2.5vw;
  }

  .sec-feedback .form-blk form {
    width: 48.906vw;
  }

  .sec-feedback .form-blk .cmn-input {
    margin-bottom: 5.156vw;
    padding: 1.406vw 3.125vw;
    font-size: 2.188vw;
    letter-spacing: 0.203vw;
    border-radius: 1.25vw;
  }

  .sec-feedback .form-blk .cmn-input:nth-child(3) {
    margin-bottom: 4.063vw;
  }

  .sec-feedback .form-blk .cmn-btn {
    padding: 1.875vw 0.781vw;
  }

  /* Footer Section */
  .footer {
    padding: 4.844vw 0;
  }

  .footer .logo-blk {
    width: 36.406vw;
  }

  .footer .logo-blk img {
    max-width: 32.656vw;
  }

  .footer .logo-blk p {
    padding-top: 4.688vw;
    font-size: 1.875vw;
  }

  .footer .footer-nav-blk {
    width: 47.656vw;
    margin: 1.094vw 0;
  }

  .footer .footer-nav {
    width: 20.313vw;
    margin-right: 5.625vw;
    margin-bottom: 3.438vw;
  }

  .footer .footer-nav:nth-child(2n) {
    margin-right: 0;
  }

  .footer .footer-nav .footer-ttl {
    padding-bottom: 1.875vw;
    font-size: 3.125vw;
  }

  .footer .footer-nav li {
    margin-bottom: 2.813vw;
    font-size: 2.5vw;
  }
}